In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.utils import shuffle

In [2]:
data = pd.read_csv('tmcs_2020_2029_final.csv')
data = shuffle(data)
data["is_oneway"] = data["is_oneway"].astype(int)
data["is_weekend"] = data["is_weekend"].astype(int)
data["is_holiday"] = data["is_holiday"].astype(int)

In [3]:
ind = []
for index, row in data.iterrows():
    if(row.isin([np.nan, np.inf, -np.inf]).any()):
        ind.append(index)
print(ind)
print(len(ind))

[]
0

In [60]:

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    print(indices_to_keep)
    return df[indices_to_keep].astype(np.float64)


X = data[['location_id', 'year', 'month', 'day', 'time_start_hour',
       'time_start_min', 'time_end_hour', 'time_end_min', 'num_lanes',
       'is_oneway', 'is_weekend', 'is_holiday']]
y = data[['nx', 'sx', 'ex', 'wx']]
X

,location_id,year,month,day,time_start_hour,time_start_min,time_end_hour,time_end_min,num_lanes,is_oneway,is_weekend,is_holiday
10257,4292,2020,8,28,11.0,30.0,11.0,45.0,2.0,0,0,0
1535,5078,2020,6,3,17.0,45.0,18.0,0.0,2.0,0,0,0
24319,5644,2020,11,4,17.0,0.0,17.0,15.0,2.0,0,0,0
21855,20883,2020,9,29,17.0,0.0,17.0,15.0,1.0,0,0,0
17770,4803,2020,2,29,9.0,15.0,9.0,30.0,2.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16319,41370,2020,7,8,17.0,0.0,17.0,15.0,2.0,0,0,0
21354,31530,2020,9,29,9.0,15.0,9.0,30.0,1.0,0,0,0
18424,5936,2020,3,4,14.0,15.0,14.0,30.0,2.0,0,0,0
15281,4196,2020,2,29,11.0,30.0,11.0,45.0,2.0,0,1,0
8845,5672,2020,7,29,10.0,30.0,10.0,45.0,2.0,0,0,0

In [61]:
y

         nx    sx     ex    wx
10257  37.0  60.0  110.0  59.0
1535   37.0  20.0   37.0  32.0
24319  39.0  54.0   74.0  65.0
21855  25.0   9.0   18.0  13.0
17770  24.0   9.0   24.0  31.0
...     ...   ...    ...   ...
16319   8.0   0.0    0.0  19.0
21354   0.0   1.0    3.0   6.0
18424   7.0   8.0    6.0   4.0
15281   1.0  11.0    1.0   7.0
8845   18.0  15.0   24.0  30.0

[27843 rows x 4 columns]

In [71]:
model = DecisionTreeRegressor()
model.fit(X, y)

DecisionTreeRegressor()

In [72]:
# row = [13060, 2020, 1, 8, 7.0, 30.0, 7.0, 45.0, 2.0, 0, 0, 0]
row = [4292, 2020, 8, 28, 11.0, 30.0, 11.0, 45.0, 2.0, 0, 0, 0]
yhat = model.predict([row])
print(yhat)

[[ 37.  60. 110.  59.]]